@font-face {
  font-family: "intertight";
  src: url("/assets/fonts/Inter_Tight/static/InterTight-Black.ttf");
}

@import "tailwindcss";

@theme {
  --font-intertight: intertight, "sans-serif";
}

html {
  scroll-behavior: smooth;
}
.section {
  min-height: 100vh; /* 100% of the viewport height */
}

body::-webkit-scrollbar {
  display: none;
}
