@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-intertight: Inter Tight;
    --font-luckiestguy: Luckiest Guy;
    --color-primary: rgba(var(--primary));
    --color-cursor: rgba(var(--cursor));
    --color-background: rgba(var(--background));
    --color-light-dark: rgba(var(--light-dark));
    --color-color-text-hovering: rgba(var(--color-text-hovering));
}

.custom-heading {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
}

html {
    scroll-behavior: smooth;
    overflow-anchor: none;
}

/* * {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 1000ms;
    transition-timing-function: ease;
  } */
.section {
    min-height: 100vh; /* 100% of the viewport height */
}

body::-webkit-scrollbar {
    display: none;
}

.dark {
    --background: 16, 16, 16;
    --primary: 255, 255, 255;
    --cursor: 255, 255, 255;
    --color-text-hovering: 127, 127, 127;
    --light-dark: 25, 25, 25;
}

.light {
    --background: 255, 255, 255;
    --primary: 16, 16, 16;
    --cursor: 255, 255, 255;
    --color-text-hovering: 127, 127, 127;
    --light-dark: 230, 230, 230;
}
