@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-intertight: Inter Tight;
  --color-primary: rgba(var(--primary));
  --color-background: rgba(var(--background));
}

html {
  scroll-behavior: smooth;
}
.section {
  min-height: 100vh; /* 100% of the viewport height */
}

body::-webkit-scrollbar {
  display: none;
}

.dark {
  --background: 16, 16, 16;
  --primary: 255, 255, 255;
}

.light {
  --background: 255, 255, 255;
  --primary: 16, 16, 16;
}
